* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    width: 100vw;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 0;
    overflow-x: hidden;
}


header {
    height: 100px;
    background-color: #000;
    color: #FFF;
}
.header {
    height: 100px;
    max-width: 1140px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 150px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoimg {
    display: flex;
    width: 75px;
    height: 75px;
    background-color: #B28756;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color: #FFF;
}
.logo span {
    text-shadow: 3px 3px 5px #000;
    letter-spacing: 2px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu ul,
.menu li {
    list-style: none;
}
.menu ul {
    display: flex;
}
.menu li a {
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #000;
}
.menu li a:hover,
.menu .active a  {
    border-bottom: 5px solid #B28756;
    color: #ccc;
}
.menu-opener {
    display: none;
}

.button {
    margin-top: 50px;
    display: inline-block;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #B28756;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 30px;
}
.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('AWAX/assets/images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}
.banner .slideRS {
    width: 1000vw;
    height: 100%;
}
.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.7);
}
.banner .slideArea {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #FFF;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner h1 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 3px;
}
.banner h1 span {
    color: #B28756;
}
.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
}

.banner .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer {
    width: 16px;
    height: 16px;
    border: 2px solid #B28756 ;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 8px;
    cursor: pointer;
}
.banner .pointer.active {
    background-color: #B28756;
}

.default {
    padding-top: 50px;
    padding-bottom: 50px;
}
.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.default .section-title {
    font-size: 20px;
}
.default .section-desc {
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 40px;
}
.default .section-body {
    max-width: 1140px;
    margin: auto;
}
.default.light {
    background-color: #F7F7F7;
    color: #000;
}
.default.light .section-title {
    color: #000;
}
.default.dark {
    background-color: #000;
    color: #FFF;
}
.default.dark .section-title {
    color: #FFF;
}




.section-aboutUs {
    display: flex;
}
.section-aboutUs--left {
    flex: 1;
}
.section-aboutUs--right {
    width: 520px;
    text-align: center;

}
.section-aboutUs--right img {
    width: 480px;
    box-shadow: 0px 5px 10px;
}
.section-aboutUs--left p {
    line-height: 20px;
    font-weight: 600;
}
.section-serviceS {
    display: flex;
}
.section-service:first-child {
    border-left: 1px solid #333;
}
.section-service {
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 20px;
}
.section-service h4 {
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 20px;
}
.section-service p {
    margin-top: 10px;
    color: #CCC;

}



.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-projects--filters {
    border: 1px solid #ddd;
    background-color: #eee;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
}
.section-projects--filters ul,
.section-projects--filters li {
    list-style: none;
}
.section-projects--filters li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    border-left: 1px solid #ddd;
    color: #555;
    border-bottom: 3px solid #eee;
    cursor: pointer;
}
.section-projects--filters li:first-child {
    border-left: 0;
}
.section-projects--filters li:hover,
.section-projects--filters li.active {
    border-bottom: 3px solid #B28756;
}
.section-projects--photoS {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-projects--photo {
    width: 280px;
}

.section-projects--photoarea {
    width: 260px;
    margin: 10px;
    height: 160px;
}
.section-projects--photoarea img {
    height: inherit;
    width: inherit;
}
.section-projects--photoinfo {
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #FFF;
}
.section-projects--photoinfo h5 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}
.section-projects--photoinfo p {
    color: #ddd;
    font-size: 12px;
}
.section-projects--photoarea:hover .section-projects--photoinfo {
    display: flex;
}


.bg-team {
    background-image: url('AWAX/assets/images/city-.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
}

.section-team--area {
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 50px;
    padding-bottom: 50px;
}
.section-team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
    
}
.section-team .slideRS {
    width: 1000vw;
    height: 100%;
}
.section-team .slide {
    width: 280px;
    height: 100%;
    display: inline-block;
    background-color: #FFF;
    margin-right: 20px;
    min-height: 300px;
    padding: 30px;
}
.section-team .slideArea {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #000;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section-team--area .sliders-pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-team--area .pointer {
    width: 16px;
    height: 16px;
    border: 2px solid #B28756 ;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 8px;
    cursor: pointer;
}
.section-team--area .pointer.active {
    background-color: #B28756;
}

.section-team--avatar {
    width: 150px;
    height: auto;
}
.section-team--name {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 30px;
}
.section-team--hole {
    margin-top: 5px;
    color: #888;
}
.section-team--social {
    display: inline-flex;
    margin-top: 30px;
}
.section-team--social a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #CCC;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    margin-left: 5px;
    margin-right: 5px;
}
.section-team--social a:hover {
    background-color: #B28756;
}

.happy-Clients--area {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 600px;
    margin: auto;
}
.section-happyClients--name {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 30px;
}
.section-happyClients--hole {
    margin-top: 5px;
    color: #000;
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 15px;
}
.happy-clients--feedback {
    margin-top: 20px;
    line-height: 25px;
}
.happy-Clients--area .sliders-pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.happy-Clients--area .pointer {
    width: 16px;
    height: 16px;
    border: 2px solid #B28756 ;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 8px;
    cursor: pointer;
}
.happy-Clients--area .pointer.active {
    background-color: #B28756;
}

.section-partners--area {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 50px;
    background-color: #FFF;
    width: 100%;
    border-top: 1px solid #9C9C9C;
    border-bottom: 2px solid #999;
    margin-bottom: 0;
}
.section-partners--area img {
    padding-left: 40px;
    padding-right: 40px;
}
#price {
    background-color: #E8E8E8;
    margin-top: -50px;
    border-bottom: 1px solid #999;
}

.section-pricingTable {
    display: flex;
    justify-content: center;
}
.section-pricingTable--option {
    background-color: #FFF;
    margin-left: 30px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-width: 280px;
}
.section-pricingTable--level {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
}
.section-pricingTable--price {
    margin-top: 20px;
    font-size: 30px;
    font-weight: 600;
}
.section-pricingTable--duration {
    text-transform: uppercase;
    color: #999;
    margin-bottom: 10px;
}
.section-pricingTable--bar {
    background-color: #999;
    width: 25px;
    height: 2px;
    margin: auto;
}
.section-pricingTable--benefits {
    margin-bottom: 10px;
    margin-top: 10px;

}
.section-pricingTable--option a {
    background-color:#363636;
}
.section-pricingTable--option a:hover,
.section-pricingTable--option a.active {
    background-color: #B28756;
}


.section-premium {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    border-bottom: 1px solid #999;
}
.section-premium--left img {
    background-size: cover;
    background-position: center;
    padding-right: 150px;
}
.section-premium--right {
    text-align: left;
}
.section-premium--right img {
    float: left;
}
.section-premium--right h3 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.section-premium--right p {
    color: #999;
    margin-bottom: 10px;
}

.section-premium--first {
    margin-bottom: 10px;
}
.section-premium--second {
    margin-bottom: 10px;
    margin-top: 10px;
}
.section-premium--third {
    margin-top: 10px;
}
.section-premium--first,
.section-premium--second,
.section-premium--third {
    margin-left: 60px;

}
.first-special--line1,
.first-special--line2,
.first-special--line3 {
    display: flex;
    text-align: flex-end;
    color: #999;
}
.first-special--lineNumber {
    text-transform: uppercase;
    padding-left: 5px;
    padding-bottom: 10px;
}
#premium .sliders-pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#premium .pointer {
    width: 16px;
    height: 16px;
    border: 2px solid #B28756 ;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 8px;
    cursor: pointer;
}

#premium .pointer.active {
    background-color: #B28756;
}
#premium {
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-someFacts {
    display: flex;
}
.section-facts {
    flex: 1;
    text-align: center;
}
.some-facts--bar {
    margin: auto;
    width: 20px;
    height: 3px;
    background-color: #999;
    margin-bottom: 10px;
}
.section-someFacts h1 {
    font-size: 50px;
    font-weight: 700;
    color: #B28756;
    margin-bottom: 10px;
}
.section-someFacts h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
    min-height: 70px;
}
.section-someFacts p {
    color: #999;
    margin-bottom: 10px;
    margin-top: 10px;
}

.social-network {
    width: 100%;
    border-bottom: 1px solid #999;
 }
.social-network--icon {
    max-width: 1140px;
    height: auto;
    display: flex;
    padding: 25px;
    margin: auto;
    justify-content: center;
    align-items: center;   
}
.social-network img {
    padding-left: 40px;
    padding-right: 5px;
}
.social-network h5 {
    text-transform: uppercase;
    color: #999;
    margin-right: 50px;
    font-size: 17px;
}
.social-network p {
    color: #999;
    font-family: 700;
}
.section-contactUs {
    display: flex;
    max-width: 1140px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-contactUs input {
    background-color: #F7F7F7;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #999;
}
input {
    padding-bottom: 10px;
}
#name, #email {
    width: 300px;
    height: 30px;
}
#subject, #message {
    width: 605px;
}
#subject {
    margin-top: 50px;
}
#message {
    margin-top: 100px;
}
input::placeholder {
    text-transform: uppercase;
}


.section-map {
    background-image: url('AWAX/assets/images/mapa.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-map--area {
    width: 100vw;
    max-width: 1140px;
    margin: auto;
}
.section-map--info {
    width: 50%;
    color: #000;
    background-color: #FFF;
    padding: 50px;

}
.section-map--infoItem {
    display: flex;
    align-items: center;
    color: #999;
    margin-top: 20px;
}
.section-map--infoItemIMG {
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #999;
    border-radius: 15px;
    margin-right: 15px;
}
.section-map--infoItemIMG img {
    width: 15px;
    height: auto;
}
.footer {
    width: 100vw;
    background-color: #000;
}
.footer-area {
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1140px;
    color: #FFF;
    margin: auto;
    display: flex;
}
.footer-area--item {
    margin-right: 20px;
    margin-left: 20px;
    flex: 1;
}
.area-item--content {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.area-item--socialNetwork {
    display: flex;
}
.area-item--socialNetwork a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #CCC;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    margin-left: 5px;
    margin-right: 5px;
}
.area-item--socialNetwork a:hover,
.area-item--socialNetwork a.active {
    background-color: #B28756;
}
.area-item--copy {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
}
.footer-area--item.second {
    color: #999;
}
.footer-area--item.second p {
    line-height: 20px;
}
.footer-area--item.third {
    background-color: rgb(55, 55, 55);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-area--item.third h4 {
    text-transform: uppercase;
    font-size: 17px;
    padding-left: 30px;
    padding-right: 30px;
    color: #999;
    padding-bottom: 10px;
    border-bottom: 2px solid #999;
}
.footer-area--item.third .button {
    padding: 20px 50px;
}



@media (min-width:450px) and (max-width:800px) {
    .logo {
        margin-left: 30px;
    }
    .menu-opener {
        display: block;
        width: 50px;
        margin-right: 50px;
    }
    nav {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 70vw;
        height: 120vw;
        top: 100px;
        right: 0px;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu li a {
        font-weight: bold;
        height: 80px;
        font-size: 27px;
        margin-left: 60px;
        border: 0;
    }
    .menu li.active a {
        border: 0;
        color: #B28756;
    }


    .section-aboutUs {
        flex-direction: column;
    }
    .section-aboutUs--left {
        margin-left: 30px;
        margin-bottom: 30px;
        margin-right: 30px;
    }
    .section-aboutUs--right {
        width: auto;
    }
    .section-serviceS {
        flex-wrap: wrap;
    }
    .section-service {
        min-width: 50%;
    }
    .section-service:first-child {
        border-left: 0;
    }
    .section-team {
        max-width: 580px;
    }
    .section-partners--area {
        flex-wrap: wrap;
    }
    .section-partners--area img {
        margin-top: 20px;
    }
    
    .section-pricingTable {
        flex-wrap: wrap;
    }
    .section-pricingTable--option {
        margin-bottom: 10px;
    }
    .section-someFacts {
        flex-wrap: wrap;
    }
    .section-facts {
        min-width: 50%;
    }
    .social-network img {
        padding-left: 8px;
    }


    .section-map {
        padding-left: 30px;
        padding-right: 30px;
    }
    .section-map--area {
        width: auto;
    }
    .section-map--info {
        width: auto;
    }

    .footer-area {
        flex-direction: column;
    }
    .footer-area--item,
    .footer-area--item.second,
    .footer-area--item.third  {
        width: 100%;
        padding: 30px;
    }
}